<%- include("../partials/header") %>
<div class="text-center">
  <h1 class="display-6">404</h1>
  <p>La ruta solicitada no existe.</p>
  <a class="btn btn-primary" href="/">Volver</a>
</div>
<%- include("../partials/footer") %>
